* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    padding: 20px;
}

/* Heading styles */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin-top: 40px;
    margin-bottom: 10px;
}

/* Form styles */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#postLists {
    margin: 1rem;
}

#postLists li{
    list-style-type: none;
    margin: 1.5rem;
    border-bottom: 2px solid black;
    box-shadow: 4px 4px 4px mediumaquamarine;
    color: navy; 
}

#postLists button{
    margin: .5rem;
    padding: .5rem;
}


